<!--{% extends 'base.html' %}-->
<!--{%  block content %}-->
<!--<form action="" method="POST">-->
    <!--{{form.csrf_token}}-->

    <!--{% if form.errors.username %}-->
    <!--{{ form.errors.username.0 }}-->
    <!--{% endif%}-->

    <!--{% if error_name %}-->
    <!--{{ error_username}}-->
    <!--{% endif %}-->

    <!--<p>{{ form.username.label }}: {{form.username}} </p>-->
<!--</form>-->
<!--{% endblock %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页</title>
</head>
<body>

</body>
</html>